html{
    background-color: #484886;
    color: #B3D986;
}
*{
    font-size: 18px;
}
img{
    max-width: 900px;
}

summary{
    cursor: pointer;
}

details{
    padding: 5px;
    border-bottom: 4px dotted black;
}
code{
    background-color: rgb(54, 53, 53);
    border-radius: 5px;
    font-weight: bold;
}